@use 'abstracts' as *;

body{
    background-color: $ps-bg;
    color: $ps-font;
}

.wrp{
    max-width: 1170px;
    margin: 0 auto;
}

.center{
    text-align: center;
    margin: 0 auto;
}

.fillRed{
    fill:red
}

.flex{
    display: flex;
}

.f-align{
    align-items: center;
    justify-content: center;
}

.h-100vh{
    height: 100vh;
}

// .m-0-au{
//     margin: 0 auto;
// }