@font-face {
    font-family: 'bb';
    src: url('../fonts/bodonibook-webfont.woff2') format('woff2'),
         url('../fonts/bodonibook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bb-i';
    src: url('../fonts/bodonibookitalic-webfont.woff2') format('woff2'),
         url('../fonts/bodonibookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}