@use 'base';
@use 'abstracts' as *;
// @use 'components' as *;
// @use 'pages' as *;
// @use 'vendors' as *;

.monk{
    width: 30%;
}

.monkWire svg{
    position: absolute;
    top: -69%;
    height: 200vh;
    z-index: -1;
}

.monkWire svg .wire1{
    z-index: 0;
}