@use 'base';
@use 'abstracts' as *;
// @use 'components' as *;
// @use 'pages' as *;
// @use 'vendors' as *;

.monk{
    width: 30%;
}
.monkWireCont{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    .monkWire{
        overflow-x: clip;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        svg{
            width: 140%;
            max-width: 1000%;
            position: absolute;
            margin: 0 auto;
            margin-top: 100vh;
            overflow-x: hidden;
            z-index: -1;
            .wire1{
                z-index: 0;
            }
        }
    }
}



.wrp{
    position: relative;
    .nav{
        position: absolute;
        padding: 1rem;
        justify-content: space-between;
        width: 100%;
        .logoCont{
            background: $ps-bg;
            padding-right: 10px;
        }
        img{
            width: 40px;
        }
        .logoText{
            padding-left: 12px;
            font-size: 1.4rem;
            letter-spacing: 4px;
        }
        .phone{
            padding: 1rem;
            background: $ps-bg;
            letter-spacing: 3px;
        }
    }
    .hero::after{
        content: ' ';
        position: absolute;
        bottom: 0;
        background: $ps-bg-dark;
        border-radius: 100vh 100vh 0 0;
        width: 100%;
        height: 25vh;
        z-index: -1;
    }
}

.work{
    background: $ps-bg-dark;
    width: 100%;
    // border-radius: 100% 100% 0 0;
    .bluePlanetCont{
        // overflow-x: clip;
        position: relative;
        width: 100%;
        .workh2{
            position: relative;
            z-index: 6;
            flex-direction: column;
            margin-top: -5rem;
            h2{
                margin-top: 1rem;
            }
        }
        img.blueBase{
            position: absolute;
            top: 0;
            z-index: 5;
            // top: 0;
            // max-width: 165%;
            // margin: 0 -33%;
            margin-top: -25vh;
            // transform-origin: center center;
        }       
    }
    .redMoon{
        position: absolute;
        top: 0;
        left: -10%;
        z-index: 5;
        width: 40%;
    }
    .yellowMoon{
        position: absolute;
        bottom: 0;
        right: -15%;
        width: 40%;
        z-index: 5;
    }
    // ::after{
    //     content: " ";
    //     position: absolute;
    //     width: 24vw;
    //     height: 24vw;
    //     background: #212121;
    //     z-index: 5;
    //     border-radius: 100vh;
    // }
}



